.avatar-group {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}

.avatar {
    position: relative;
    transition: .2s;
    margin-left: -14px;
}

.avatar:not(:first-child) {
    margin-left: -14px;
}

.avatar img {
    width: 40px;
    height: 40px;
    display: block;
    object-fit: cover;
    border-radius: 40px;
    border: 2px solid var(--base-white, #FFF);
}