.loading {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(25, 135, 84, 0.2);
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
}
.loading__container {
  position: relative;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading__spinner {
  width: 100%;
  height: 100%;
}
.mat-mdc-progress-spinner{
  width: 100% !important;
  height: 100% !important;
  --mdc-circular-progress-active-indicator-color: var(--color-primary) !important;
}
.loading__logo{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  img{
    width: 40px;
    height: 40px;
    object-fit: contain;
  }
}
