<footer class="footer">
  <div class="container">
    <div class="footer__container">
      <div class="footer__start">
        <div class="footer__copy-links">
          <a href="#" class="footer__copy-link">الشروط والأحكام</a>
          <a href="#" class="footer__copy-link">سياسة الخصوصية</a>
        </div>
      </div>
      <div class="footer__end">
        <p class="footer__copy">
          جميع الحقوق محفوظة - المؤسسة العامة للتدريب التقني والمهني (TVTC) © 2025
        </p>
      </div>
    </div>
  </div>
</footer>
