.card.card--auth {
  padding: var(--Space-Spacing-12, 48px) var(--Space-Spacing-8, 32px);
  border-radius: var(--Form-Input-container-padding-left, 8px);
  background: var(--Background-background-white, #FFF);
  max-width: 549px;
  .card__title{
    color: var(--Text-text-default, #161616);
    font-size: var(--font-size-typo-20);
    font-weight: var(--font-semiBold);
    line-height: 30px;
  }
}
