.mat-mdc-dialog-surface{
  border-radius: var(--Radius-radius-md, 8px) !important;
  box-shadow: 0px 32px 64px -12px rgba(16, 24, 40, 0.14) !important;
}
.mat-mdc-dialog-content{
  max-height: 27vh !important;
}
.mat-mdc-dialog-actions{
  // padding: var(--space-size-24) !important;
}

.dialog__header{
  padding: var(--space-size-24);
}
.dialog__title{
  margin: 0;
  color: var(--color-text-neutral);
  font-size: var(--font-size-typo-18);
  font-weight: var(--font-semiBold);
  line-height: 28px;
}
.mat-mdc-dialog-container .mat-mdc-dialog-content{
  font-family: var(--font-family) !important;
}
