:root {
  --font-family: "IBM Plex Sans Arabic", sans-serif;
  --header-bg: #fff;
  --footer-bg: #fff;
  --nav-bg: #fff;
  --layout-bg: #F6F6F6FF;
  --avatar: #DAF4FF;
  --header-height: 80px;
  --header-profile-height: 126px;
}
:root {
  // Elevation / Shadow
  --shadow-inset-1: inset 0px 0.5px 4px rgba(96, 97, 112, 0.32);
  --shadow-0: none;
  --shadow-xs: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  --shadow-sm: 0px 1px 2px 0px rgba(16, 24, 40, 0.06), 0px 1px 3px 0px rgba(16, 24, 40, 0.10);
  --shadow-md: 0px 2px 4px -2px rgba(16, 24, 40, 0.06), 0px 4px 8px -2px rgba(16, 24, 40, 0.10);
  --shadow-lg: 0px 4px 6px -2px rgba(16, 24, 40, 0.05), 0px 12px 16px -4px rgba(16, 24, 40, 0.10);
  --shadow-xl: 0px 8px 8px -4px rgba(16, 24, 40, 0.04), 0px 20px 24px -4px rgba(16, 24, 40, 0.10);
  --shadow-2xl: 0px 24px 48px -12px rgba(16, 24, 40, 0.25);
  --shadow-3xl: 0px 32px 64px -12px rgba(16, 24, 40, 0.20);

}

$sizes: (
  "size-0": 0, // 0
  "size-2": 0.125rem, // 2px
  "size-4": 0.25rem, // 4px
  "size-6": 0.375rem, // 6px
  "size-8": 0.5rem, // 8px
  "size-10": 0.625rem, // 10px
  "size-12": 0.75rem, // 12px
  "size-14": 0.875rem, // 14px
  "size-16": 1rem, // 16px
  "size-20": 1.25rem, // 20px
  "size-24": 1.5rem, // 24px
  "size-32": 2rem, // 32px
  "size-40": 2.5rem, // 40px
  "size-48": 3rem, // 48px
  "size-56": 3.5rem, // 56px
  "size-64": 4rem, // 64px
  "size-80": 5rem, // 80px
  "size-96": 6rem, // 96px
);
$sizes-lg: (
  "size-0": 0,
  "size-2": 0.1rem,
  "size-4": 0.2rem,
  "size-6": 0.3rem,
  "size-8": 0.4rem,
  "size-10": 0.5rem,
  "size-12": 0.6rem,
  "size-14": 0.7rem,
  "size-16": 0.8rem,
  "size-20": 1rem,
  "size-24": 1.2rem,
  "size-32": 1.4rem,
  "size-40": 1.8rem,
  "size-48": 2rem,
  "size-56": 2.2rem,
  "size-64": 2.5rem,
  "size-80": 3rem,
  "size-96": 4rem
);
$directions: (
  "top": top,
  "bottom": bottom,
  "start": inline-start,
  "end": inline-end,
  "right": right,
  "left": left,
  "y": "",
  "x": "",
);

$border-radii: (
  "none": 0,
  "tiny": 4px,
  "soft": 6px,
  "base": 8px,
  "m": 12px,
  "l": 24px,
  "xl": 32px,
  "rounded": 2em,
  "circle": 50%,
);

$border-sizes: (
  "none": 0,
  "base": 1px,
  "m": 2px,
  "l": 3px,
  "xl": 6px,
);

//== images path
$img-path: "/assets/images";
$font-path: "/assets/fonts";

$screen-xs: 0 !default;
$screen-sm: 576px !default;
$screen-md: 768px !default;
$screen-lg: 992px !default;
$screen-xl: 1400px !default;
$screen-wd: 1600px !default;

$breakpoints: (
  xs: 480px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1600px,
  xlst: 1920px,
);
$max-breakpoints: (
  xs: 479px,
  sm: 575px,
  md: 767px,
  lg: 991px,
  xl: 1199px,
  xxl: 1599px,
);
$line-height: (
  "size-0": 0, // 0
  "size-2": 0.125rem, // 2px
  "size-4": 0.25rem, // 4px
  "size-6": 0.375rem, // 6px
  "size-8": 0.5rem, // 8px
  "size-10": 0.625rem, // 10px
  "size-12": 0.75rem, // 12px
  "size-14": 0.875rem, // 14px
  "size-16": 1rem, // 16px
  "size-18": 1.125rem, // 18px
  "size-20": 1.25rem, // 20px
  "size-24": 1.5rem, // 24px
  "size-32": 2rem, // 32px
  "size-40": 2.5rem, // 40px
  "size-48": 3rem, // 48px
  "size-64": 4rem, // 64px
  "size-80": 5rem, // 80px
  "size-96": 6rem, // 96px
);
$youtubeClr: #bf232b;
$twitterClr: #2aaae0;
$facebookClr: #3a589b;
$linkedinClr: #0e76a8;
$whatsappClr: #0dc143;
$instagramGradient: linear-gradient(40deg, rgb(249, 237, 50) 0%, rgb(238, 42, 123) 69%, rgb(0, 42, 255) 100%);
