.button,
a.button {
  --btn-height: 40px;
  --btn-min-width: 95px;
  --btn-color: var(--color-black);
  --btn-bg: transparent;
  --btn-font-size: var(--font-size-typo-16);
  --btn-radius: var(--border-radius-tiny);
  --btn-padding: 14px 24px;
  --btn-weight: var(--font-semiBold);
  font-family: var(--font-family);
  height: var(--btn-height);
  color: var(--btn-color);
  background: var(--btn-bg);
  font-size: var(--btn-font-size);
  border-radius: var(--btn-radius);
  padding: var(--btn-padding);
  font-weight: var(--btn-weight);
  min-width: var(--btn-min-width);

  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  border: 1px solid var(--btn-border-color);
  outline: none;
  transition: background ease 0.15s, color ease 0.15s;
  &:hover:not([disabled]) {
    --btn-bg: var(--color-light-500);
  }

  // &+.button {
  //   margin-inline-start: var(--space-size-16);
  // }


  // backgrounds
  &--primary {
    --btn-color: var(--color-white);
    --btn-bg: var(--color-primary);

    &:hover {
      --btn-bg: var(--color-primary-hover);
      --btn-color: var(--color-white);
      color: var(--color-white);
      background-color: var(--color-primary-hover);
    }
  }
  &--gray {
    --btn-color: var(--color-black);
    --btn-bg: var(--color-gray-1);
    border-radius: 4px;
    &:hover {
      --btn-bg: var(--color-gray-4);
      --btn-color: var(--color-black);
      background-color: var(--color-gray-4);
    }
  }
  &--black {
    --btn-color: var(--color-white);
    --btn-bg: var(--color-black);

    &:hover {
      --btn-bg: var(--color-black-hover);
      --btn-color: var(--color-white);
      color: var(--color-white);
      background-color: var(--color-black-hover);
      svg{
        fill: var(--color-white) !important;
      }
    }
  }

  &--outlined {
    --btn-color: var(--color-black);
    --btn-bg: transparent;
    --btn-border-color: var(--Border-border-neutral-primary, #D2D6DB);
    border-width: 1px;
    border-radius: var(--border-radius-tiny) !important;
    &:hover {
      --btn-bg: var(--color-gray-4);
      --btn-color: var(--color-black);
    }
  }

  &--outlined-primary {
    --btn-color: var(--color-primary-600);
    --btn-bg: transparent;
    --btn-border-color: var(--color-primary-600);
    border-width: 0.7px;

    &:hover {
      --btn-bg: transparent;
      --btn-color: var(--color-primary-600);

      .icon {
        // fill: var(--color-primary-600);
      }
    }
  }

  &:hover {
    --btn-bg: transparent;
    --btn-color: var(--color-primary-600);

    .icon {
      // fill: var(--color-primary-600);
    }
  }


  &--link {
    --btn-color: var(--color-link-neutral);
    --btn-bg: transparent;
    --btn-border-color: transparent;
    font-weight: var(--font-roman);
    font-size: var(--font-size-typo-16);
    padding: 0;
    text-decoration: underline;
    text-underline-offset: auto;
    &:hover {
      --btn-bg: transparent !important;
      --btn-color: var(--color-primary);
      color: var(--btn-color);
    }
    &:disabled{
      --btn-color: var(--color-link-neutral) !important;
      --btn-bg: transparent !important;
      background-color: transparent !important;
    }

  }
  &--w-auto {
    width: auto;
    min-width: auto;
  }
  //size
  &--sm {
    --btn-padding: 0px 16px;
  }
  &--m {
    --btn-font-size: var(--font-size-typo-14);
    --btn-padding: 8px 12px;
    --btn-radius: var(--border-radius-base);
  }
  &--lg {
    --btn-font-size: var(--font-size-typo-23);
    --btn-padding: 8px 32px;
    --btn-radius: var(--border-radius-m);
    height: 64px;
  }

  &--block {
    width: 100%;
  }

  &--auto {
    width: auto;
    height: auto;
  }

  &--transparent {
    background-color: transparent;
    color: var(--color-white);
    border-color: var(--color-white);

    &:hover {
      background-color: rgba(128, 128, 128, 0.137);
    }
  }

  &--icon {
    padding: 10px;
    min-width: unset;
    flex-shrink: 0;
    border-radius: unset;
    width: 40px;
    height: 40px;
  }

  &--icon-text {
    display: flex;
    align-items: center;
    gap: var(--space-size-8);
  }




  &--avatar {
    background-color: var(--avatar);
    color: var(--color-black);
    font-size: var(--font-size-typo-14);
    font-weight: var(--font-bold);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    max-width: 40px;
    min-width: 40px;
    overflow: hidden;
    padding: var(--space-size-0);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .button__avatar {
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  &:disabled {
    --btn-color: var(--color-white);
    --btn-bg: var(--color-gray-3);

    &:hover {
      --btn-bg: var(--color-gray-3);
      --btn-color: var(--color-white);
      background-color: var(--color-gray-3);
    }
    cursor: default !important;
  }

  &--social {
    height: 50px;
    border: 0;
    font-size: var(--font-size-typo-16);
    font-weight: var(--font-roman);
    background-color: var(--color-light-gray);
    color: #000000;
    justify-content: flex-start;
    &:hover {
      background-color: var(--color-light-gray);
    }

    &+.button {
      margin-inline-start: 0;
    }
  }

  .button-icon-wrapper {
    .landing-page & {
      margin: 0 auto 0 0;
    }
  }
  &--max-height-46 {
    max-height: 46px;
  }
}

.link-button,
.link-button.mat-button,
.link-button.mat-raised-button,
.link-button.mat-stroked-button,
.link-button.mat-flat-button {
  height: unset;
  font-weight: var(--font-bold);
  color: var(--color-secondary);
  font-size: var(--font-size-m);
  padding: 0;
  text-decoration: underline;
  text-underline-offset: 6px;
  transition: color 0.2s ease-in-out;

  &--white {
    color: var(--color-white);
  }

  &:hover {
    --btn-color: var(--color-primary-500);
    color: var(--btn-color);

    .icon {
      stroke: var(--color-primary-500);
    }
  }


}

a.mat-button:hover {
  color: unset;
}

.button {

  &.mat-button,
  &.mat-raised-button,
  &.mat-stroked-button,
  &.mat-flat-button {
    min-width: var(--btn-min-width);
    padding: var(--btn-padding);
    border-radius: var(--btn-radius);
  }

  &.mat-stroked-button {
    --btn-border-color: var(--color-neutral-500);
  }

  &.mat-raised-button {
    box-shadow: var(--shadow-4);
  }
}

.dashboard-card {
  .mat-button-wrapper {
    display: flex;
    align-items: center;
  }
}

.el-ltr {
  transform: scaleX(-1);

  [dir="rtl"] & {
    transform: scaleX(1);
  }
}

.el-rtl {
  transform: scaleX(-1);

  [dir="ltr"] & {
    transform: scaleX(1);
  }
}

body {
  .mat-mdc-unelevated-button[disabled] {
    width: 100%;
    height: 50px;
    font-size: var(--font-size-typo-14);
    color: var(--color-neutral-0);
    border-radius: var(--border-radius-xl);
  }

  .mat-mdc-unelevated-button:not(:disabled) {
    background-color: var(--color-primary-500);
    width: 100%;
    height: 50px;
    font-size: var(--font-size-typo-14);
    color: var(--color-neutral-0);
    border-radius: var(--border-radius-xl);
  }
}

.button--follow {
  width: 90px;

  [dir="ltr"] & {
    width: 110px;
  }
}

.button--md,
a.button--md {
  @media only screen and (max-width: $screen-md) {
    height: 34px;
    font-size: var(--font-size-typo-11) !important;
  }
}

.mdc-button__label {
  font-weight: var(--font-medium);
}
