.mat-calendar-controls{
  justify-content: center !important;
  margin: 0 !important;
  min-height: 24px;
}
.mat-mdc-icon-button{
  position: absolute !important;
}
.mat-calendar-previous-button{
left: 0 !important;
}
.mat-calendar-next-button{
  right: 0 !important;
}
.mat-calendar-period-button{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: auto !important;
  .mdc-button__label{
    color: var(--color-black) !important;
    font-size: var(--font-size-typo-16) !important;
    font-weight: var(--font-semiBold) !important;
    line-height: 18px;
  }
  &:active {
    background-color: unset !important;
  }
  &:hover {
    background-color: unset !important;
  }
  &:focus {
    background-color: unset !important;
  }
}
.mat-mdc-button .mat-mdc-button-persistent-ripple::before{
  background-color: unset !important;
}
.mat-calendar-header {
  padding: var(--space-size-16) var(--space-size-16) 0 var(--space-size-16) !important;
}
.mat-calendar-content {
  padding: var(--space-size-16) !important;

}
.mat-calendar-previous-button::after, .mat-calendar-next-button::after{
  margin: 14.5px !important;
  border-top-width: 2.5px !important;
}
.mat-calendar-previous-button::after{
  border-left-width: 2.5px !important;
}
.mat-calendar-next-button::after {
  border-right-width: 2.5px !important;
}
.mat-calendar-arrow{
  display: none !important;
}
.mat-calendar-body-label{
  display: none !important;
}
.mat-calendar-controls .mat-calendar-period-button {
  text-transform: none !important;
}
.mat-calendar-table-header{
  th{
    padding: 0 0 var(--space-size-4) 0 !important;
  }
}
.mat-calendar-table-header-divider{
  display: none !important;
}
.mat-calendar-body-cell-content{
  color: var(--color-black);
  font-size: var(--space-size-16);
  font-weight: var(--font-roman);
  width: 36px !important;
  height: 36px !important;
  line-height: 36px !important;
  border-width: 2px !important;
}

.mat-calendar-body-today:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical) {
  border-color: var(--color-primary) !important;
}
// .mat-calendar-body-active{
//   .mat-calendar-body-cell-content{
//     background: var(--color-primary) !important;
//     font-weight: var(--font-semiBold) !important;
//   }
// }
.mat-calendar-body-in-range::before {
  background: var(--color-second-yellow) !important;
}
.mat-calendar-body-selected {
  background: var(--color-primary) !important;
  font-weight: var(--font-semiBold) !important;
  color: var(--color-black) !important;
}
.calender-form{
  .mdc-text-field{
    padding: 0 12px !important;
  }
}
