.mat-mdc-form-field {
  --mat-form-field-container-text-font: var(--font-family);
  --mdc-filled-text-field-error-label-text-color: var(--color-red);
  --mdc-filled-text-field-disabled-label-text-color: var(--color-gray);
  --mdc-filled-text-field-disabled-input-text-color: var(--color-gray);

  .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    --mdc-filled-text-field-container-color: var(--color-light-gray);
    --mdc-filled-text-field-label-text-color: var(--color-gray);
    --mdc-filled-text-field-input-text-color: var(--color-black);
    --mdc-filled-text-field-container-color: var(--color-light-gray-2);
  }

  // mat-form-field-appearance-fill mat-mdc-form-field mat-mdc-form-field-type-mat-input mat-primary ng-dirty ng-tns-c508571215-1 ng-touched ng-valid w-100
  &.mat-form-field-appearance-fill.mat-primary.ng-dirty.ng-touched.ng-valid {
    .mdc-text-field--filled:not(.mdc-text-field--disabled) {
      --mdc-filled-text-field-container-color: var(--color-white) !important;
    }
  }

  .mdc-text-field--filled {
    --mdc-filled-text-field-container-shape: var(--border-radius-m);
    border-top-left-radius: var(--mdc-filled-text-field-container-shape);
    border-top-right-radius: var(--mdc-filled-text-field-container-shape);
    border-bottom-right-radius: var(--mdc-filled-text-field-container-shape);
    border-bottom-left-radius: var(--mdc-filled-text-field-container-shape);
    border: 2px solid var(--color-gray-4);
  }

  .mat-mdc-form-field-focus-overlay {
    --mat-form-field-state-layer-color: var(--color-white) !important;
  }

  .mdc-text-field--focused:not(.mdc-text-field--disabled) {
    --mdc-filled-text-field-container-color: var(--color-white);
    border: 2px solid var(--color-primary);
  }

  .mdc-text-field--invalid:not(.mdc-text-field--disabled) {
    --mdc-filled-text-field-container-color: var(--color-white);
    border: 2px solid var(--color-red);
  }




  .mat-mdc-form-field.mat-focused .mat-mdc-form-field-focus-overlay {
    --mat-form-field-hover-state-layer-opacity: 1;
    opacity: var(--mat-form-field-hover-state-layer-opacity) !important;
  }

  .mat-mdc-text-field-wrapper:hover .mat-mdc-form-field-focus-overlay {
    --mat-form-field-hover-state-layer-opacity: 1;
    opacity: var(--mat-form-field-hover-state-layer-opacity) !important;
  }

  .mat-mdc-form-field-focus-overlay {
    display: none;
  }

  .mdc-line-ripple {
    display: none !important;
  }

  .mat-mdc-form-field-infix {
    --mat-form-field-container-height: 46px;
    --mat-form-field-filled-with-label-container-padding-top: 20px;
    --mat-form-field-filled-with-label-container-padding-bottom: 2px;
  }
}

.mat-mdc-select-arrow-wrapper {
  height: unset;
}

// .mat-form-field-appearance-fill .mat-mdc-select-arrow-wrapper{
//   --mat-select-arrow-transform: 0;
// }
.mdc-text-field--filled .mdc-floating-label {
  --mdc-filled-text-field-label-text-font: var(--font-family);
  --mdc-filled-text-field-label-text-size: var(--font-size-typo-16);

  &--float-above {
    --mdc-filled-text-field-label-text-size: var(--font-size-typo-14);
  }
}

.mat-mdc-form-field-error {
  --mat-form-field-error-text-color: var(--color-red);
  padding: 0 var(--space-size-16);
  margin-top: var(--space-size-4);
  line-height: var(--line-height-size-14);
  font-size: var(--font-size-typo-12);
  font-weight: var(--font-roman);
  color: var(--color-red);
}

.mat-mdc-form-field-bottom-align::before {
  display: none !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px var(--mdc-filled-text-field-container-color) inset !important;
  -webkit-text-fill-color: #000 !important;
  transition: background-color 5000s ease-in-out 0s;
}

input:focus-visible {
  outline: none;
}

input {
  &::placeholder {
    color: var(--color-gray) !important;
  }
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-floating-label {
  --mdc-filled-text-field-label-text-color: var(--color-gray) !important;
}

.form-group {
  &--view {
    --mdc-filled-text-field-disabled-container-color: var(--color-white) !important;
    --mdc-filled-text-field-disabled-input-text-color: var(--color-black) !important;

    .mat-mdc-form-field-infix {
      padding: 10px 0 !important;
    }

    // .mdc-text-field--filled.mdc-text-field--disabled{

    // }
  }

  &--sm {
    .mdc-text-field--filled {
      max-height: 46px;
      height: 46px !important;
    }

    .mat-mdc-form-field .mat-mdc-form-field-infix {
      padding: 10px 0;
    }

    .mat-mdc-form-field-infix {
      width: auto !important;
    }
  }

  &--custom-label {
    .mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mat-mdc-floating-label {
      --mat-form-field-container-height: 40px;
    }

    .mdc-text-field__input {
      height: auto !important;

    }

    .mdc-text-field__input.ng-dirty {
      height: 34px !important;
    }
  }
}

.custom-select {
  .mdc-text-field {
    padding-inline-start: 12px;
  }

  .mat-mdc-form-field.mat-mdc-form-field-type-mat-select.mat-form-field-appearance-fill.mat-primary.ng-valid.ng-touched.ng-dirty {
    .mat-mdc-form-field-infix {
      padding-top: 11px !important;
      padding-bottom: 11px !important;
    }
  }

  &--sm {
    .mat-mdc-form-field-infix {
      padding-top: 10px !important;
      padding-bottom: 10px !important;
    }

    .mat-mdc-select-arrow-wrapper {
      align-items: end;
    }

    .mat-form-field-appearance-fill .mdc-text-field--no-label .mat-mdc-select-arrow-wrapper {
      align-items: center;
    }
  }
}

.form-group__out-label {

  .mdc-text-field--outlined .mat-mdc-form-field-infix,
  .mdc-text-field--no-label .mat-mdc-form-field-infix {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.form-group--view {
  .mat-mdc-form-field-icon-prefix {
    padding: 0;
  }

  .mdc-floating-label--float-above {
    display: none !important;
  }
}

.mat-mdc-form-field-has-icon-suffix .mat-mdc-text-field-wrapper {
  padding-right: var(--space-size-16) !important;
}

.mdc-switch--disabled.mdc-switch .mdc-switch__track {
  opacity: unset !important;
}

.mat-mdc-slide-toggle-disabled-interactive.mdc-switch--disabled:hover:not(:focus):not(:active) .mdc-switch__track::after,
.mat-mdc-slide-toggle-disabled-interactive.mdc-switch--disabled:focus:not(:active) .mdc-switch__track::after,
.mat-mdc-slide-toggle-disabled-interactive.mdc-switch--disabled:active .mdc-switch__track::after,
.mdc-switch.mdc-switch--disabled .mdc-switch__track::after {
  background: var(--color-primary) !important;
}

.mat-mdc-slide-toggle-disabled-interactive.mdc-switch--disabled:hover:not(:focus):not(:active) .mdc-switch__track::before,
.mat-mdc-slide-toggle-disabled-interactive.mdc-switch--disabled:focus:not(:active) .mdc-switch__track::before,
.mat-mdc-slide-toggle-disabled-interactive.mdc-switch--disabled:active .mdc-switch__track::before,
.mdc-switch.mdc-switch--disabled .mdc-switch__track::before {
  background: var(--mdc-switch-unselected-track-color, var(--mat-app-surface-variant)) !important;
}

.mdc-switch--unselected.mdc-switch--disabled .mdc-switch__handle::after {
  background: var(--color-white) !important;
}

.form-group--white {
  .mat-mdc-form-field {
    .mdc-text-field--filled {
      --mdc-filled-text-field-container-color: var(--color-white);
      --mdc-filled-text-field-disabled-container-color: var(--color-white);
    }
  }
}

.form {
  position: relative;

  &--disabled {
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
    }
  }
}

.group-label {
  color: var(--color-black);
  font-size: var(--font-size-typo-16) !important;
  font-weight: var(--font-semiBold) !important;
  line-height: 18px !important;
  margin-bottom: var(--space-size-16) !important;
}

textarea {
  min-height: 119px;

  &::placeholder {
    color: var(--color-gray) !important;
  }
}

.form-group textarea.mat-input-element {
  padding: var(--space-size-8) var(--space-size-0);
  margin: 0;
}

.form-group--textarea {
  .mat-mdc-form-field {
    // background: var(--color-neutrals-50);
    // border-radius: 45px;
    --mdc-outlined-text-field-container-shape: 34px;
    --mdc-outlined-text-field-outline-color: var(--color-gray);
    --mdc-outlined-text-field-hover-outline-color: var(--color-primary);
    --mdc-outlined-text-field-focus-outline-color: var(--color-primary);
    --mat-form-field-container-vertical-padding: var(--space-size-12);
    width: 100%;
  }

  .mdc-text-field {
    padding: var(--space-size-16);
  }

  .mdc-text-field--outlined {
    padding: var(--space-size-16);
  }

  .mat-mdc-form-field-infix {
    padding-top: 0 !important;
  }
}

.form-group--search-box {
  .mat-mdc-form-field-flex {
    height: 100%;
  }

  .mat-mdc-form-field-has-icon-prefix .mat-mdc-text-field-wrapper {
    padding: 0px var(--space-size-12) !important;
  }

  .mat-mdc-form-field-icon-prefix,
  [dir=rtl] .mat-mdc-form-field-icon-suffix {
    padding: 0 8px 0 0;
  }
}

.form-group--join-micro {
  position: relative;
  &--active{
    z-index: 1000;
  }
  .mat-mdc-form-field-infix {
    --mat-form-field-container-height: 80px;
    padding: 16px 0 !important;
    @include media-breakpoint-down(lg) {
      --mat-form-field-container-height: 40px;
      padding: 6px 0 !important;
    }
  }

  .form-group--view .mat-mdc-form-field-infix {
    padding: 16px 0 !important;
    @include media-breakpoint-down(lg) {
      padding: 24px 0 !important;
    }
  }

  .mdc-text-field__input {
    font-size: var(--font-size-typo-32) !important;
    @include media-breakpoint-down(lg) {
      font-size: var(--font-size-typo-12) !important;
    }
  }
  mat-label{
    font-size: var(--font-size-typo-32) !important;
    @include media-breakpoint-down(lg) {
      font-size: var(--font-size-typo-12) !important;
    }
  }
  .matPrefix-text{
    font-size: var(--font-size-typo-32) !important;
    @include media-breakpoint-down(lg) {
      font-size: var(--font-size-typo-12) !important;
    }
  }
  .matSuffix-button{
    .button--lg{
      @include media-breakpoint-down(lg) {
        font-size: var(--font-size-typo-12) !important;
        height: 30px !important;
        padding: var(--space-size-4) var(--space-size-8) !important;
      }
    }
  }
  .mat-mdc-form-field-infix{
    @include media-breakpoint-down(lg) {
      width: 80px;
    }

  }
}
