body .ng-otp-input-wrapper {
  display: flex;
  gap: var(--space-size-4);

  .otp-input {
    --input-font-size: var(--font-size-h2);
    width: 46px;
    height: 46px;
    border-radius: 12px;
    border: 2px solid var(--color-gray-4);
    font-size: var(--font-size-typo-16);
    font-weight: var(--font-roman);

    @include media-breakpoint-down(lg) {
      width: 30px;
      height: 30px;
    }

    &:not(:last-child) {
      margin: 0 !important;
    }

    &:focus,
    &:hover {
      border: 2px solid var(--color-gray-2);
    }
  }
}
.otp-input.otp-input-filled {
  border-color: var(--color-green) !important;
}
.otp-input.otp-input-error {
  border-color: var(--color-red) !important;
}
