.mat-mdc-tooltip-surface {
  box-shadow: 0px 9px 12px 0px rgba(21, 21, 18, 0.10);
  max-width: 236px !important;
  padding: var(--space-size-16) !important;
  --mdc-plain-tooltip-container-shape: 16px !important;
  --mdc-plain-tooltip-container-color: var(--color-black) !important;
  --mdc-plain-tooltip-supporting-text-color: var(--color-white) !important;
  --mdc-plain-tooltip-supporting-text-font: var(--font-family) !important;
  --mdc-plain-tooltip-supporting-text-size: var(--font-size-typo-14) !important;
  --mdc-plain-tooltip-supporting-text-weight: var(--font-roman) !important;
  --mdc-plain-tooltip-supporting-text-line-height: 16px !important;
  // min-width: 40px;
  // min-height: 24px;
  // max-height: 40vh;
  // --mdc-plain-tooltip-supporting-text-tracking: ;
}

// .mat-mdc-tooltip-show::after {
//   content: '';
//   position: absolute;
//   top: -8px; /* Adjust based on arrow size */
//   left: 50%;
//   transform: translateX(-50%);
//   width: 0;
//   height: 0;
//   border-left: 8px solid transparent;
//   border-right: 8px solid transparent;
//   border-bottom: 8px solid var(--color-black); /* Matches tooltip background color */
//   z-index: 1001;
// }

